<div class="login-container">
  <h2>Prijava</h2>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Korisničko ime</mat-label>
      <input 
        matInput 
        [(ngModel)]="username" 
        name="username" 
        required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Šifra</mat-label>
      <input 
        matInput 
        type="password" 
        [(ngModel)]="password" 
        name="password" 
        required>
    </mat-form-field>

    <div class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!username || !password">
      Prijavi se
    </button>
  </form>
</div>